/* Apply to the whole page */
body {
  background-image: url(../images/70s.jpg);
  height: 1000px;
}

/* Target all elements in my 2 cards */
.container-fluid {
  margin-top: 2.5%;
  width: 70%;
}
.card {
  text-align: center;
}

/* Target specific elements in my "Guess the band" card */
.band-card {
  padding-top: 2%;
  padding-bottom: 2%;
  background: rgb(236, 191, 66);
  color: purple;
  font-family: Impact;
}

#band-img {
  padding: 1%;
  height: 250px;
  width: 250px;
  display: block;
  margin: auto;
  border-style: dotted;
  border-width: 5px;
}

#win-message,
#lose-message {
  padding: 1%;
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  border-style: dotted;
  border-width: 5px;
  opacity: 0.9;
  display: none;
}

.band-card ul {
  text-align: left;
  font-family: sans-serif;
}

/* Capitalize the letters guessed by the player and the letters of the solution*/
#guessedLetters {
  text-transform: capitalize;
  margin-bottom: 0;
}

#bandName {
  text-transform: lowercase;
  margin-bottom: 0;
}

/* Target specific elements in my "Let's Play!" card */
.info-card {
  padding-top: 2%;
  background: rgb(152, 113, 224);
  color: rgb(255, 196, 0);
  font-family: Impact;
}

.info-card img {
  margin-bottom: 5%;
}

.info-card p {
  font-family: sans-serif;
  margin-top: 4%;
  margin-bottom: 2 %;
}

/* Target the Music Button */
#play-button {
  font-family: sans-serif;
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  margin-bottom: 2%;
}
